*{box-sizing: border box;}
img{width: 100%; display: block;}
html{scroll-behavior: smooth;}
.displaypexels{
    background-color: rgba(150, 150, 150, 0.6);
    width: 100px;
    padding: 1em;
    font-size: 1,5em;
    position:fixed;
    top:0%;
    right: 0%
}
.images_container{
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img_gallery{
    width: 500px;
    margin: 2em;
}

/* to the top*/
.toTop{
    background-color: rgba(50,50,50, 0.8);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
}
.toTop a{
    text-decoration: none;
    color: orangered;
}

/* modal window*/
.openmodal{
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
}
.modal_overlay{
    background-color:rgba(50,50,50, 0.8)
    position: fixed;
    top: 0%
    bottom: 0%

}